// V A R I A B L E S
//Declarar array de variables
$colores :(
    principalOscuro : #0C0C0D,
    principalClaro : #FFF,
    principalColor : #18F276,
    secundarioGris : #d5d8d4
);

$margen: 2em;

//Descripción:Funcion que acceder al array de colores
//  $name: introducimos el valor de la variable 
//Retorno: el color de la variable
@function Colores($name) {
  @return map-get($colores, $name);
}
//Descripción:Funcion para convertir un color a RGB decimal
//Parámetros:
//  $color: introducimos el color
//      - una variable (Ej: $Verde)
//      - un color RGB Hexadecimal (Ej: #542e65)
//      - Palabra Clave (Ej: purple) ...
//  $opacity:  introducimos la opaciodad siendo un valor entre 0(trasparente) y 1(opaco)
//Retorno: el color de la variable
@function ColoresRGBA($color, $opacity) {
  @return rgba(red($color), green($color), blue($color), $opacity);
}

//M I X I N
@mixin flex($align-items, $justify-content: null) {
  display: flex;
  align-items: $align-items;
  
  @if $justify-content != null {
    justify-content: $justify-content;
  }
}

@mixin grid($columns, $filas) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($filas, 1fr);
}

body{
  background-color: Colores(principalClaro);
  color: Colores(principalOscuro);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.contenedor {
  @include grid(2,1);
  justify-items: center;
}

.panelEditor {
  width: 80%;
  overflow: auto;
  height: 400px;
  max-height: 20em;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  &-track {
    border-radius: 10px;
    background: ColoresRGBA(Colores(principalOscuro), 0.1);
  }
  &-thumb {
    border-radius: 10px;
    background: ColoresRGBA(Colores(principalOscuro), 0.2);
    
    &:hover{
      background: Colores(principalColor);
    }
    &:active{
      background: Colores(principalColor);
    }
  }
}
select {
  padding: 6px;
  border-radius: 5px;
  margin: 8em $margen $margen;
}

// M E N Ú

.logo {
  @include flex(center);
  //al compilarlo en css se mostrará asi ".logo span"
  span {
      font-size: 1.25rem;
      font-weight: 700; 
      margin-left: .5em;
  }
  img{
      width: 4em;
      padding-left: $margen;
  }  
}

.contenedorMenu{
  position: fixed;
  top: 0;
  width: 100%;
  @include flex(center, space-between);
  border-bottom: 1px solid Colores(secundarioGris);
  background-color: Colores(principalClaro);

}


.menu{
  margin: 0.5rem 1rem;
  padding-right: 10px;

  &:hover{
      background-color: Colores(secundarioGris);
      color: Colores(principalOscuro);
      border-radius: 10px;
  }
}


.iconos{
  margin-left: $margen;
  i{
      font-size: 1.5em;
      padding-right: 0.5em;
      &:hover {
          color: Colores(principalColor);
      }
  }
}

label{
  cursor: pointer;
}

// P I E   D E   P Á G I N A 
footer{
  border-top: 1px solid Colores(secundarioGris);
  position: fixed;
  bottom: 0;
  width: 100%;
  .footerTexto {
    color: Colores(principalOscuro);
    text-align: center;
  }
}
