///////////////////////////////////////////////////////////////////
// V A R I A B L E S
///////////////////////////////////////////////////////////////////
//Declarar array de variables
$colores: (
  principalOscuro: #0c0c0d,
  principalClaro: #fff,
  principalColor: #18f276,
  secundarioGris: #d5d8d4,
);

$margen: 2em;
$alturaHeader: 7em;
$alturaFooter: 3.5em;
$altura: calc(100% - $alturaHeader - $alturaFooter);
//Descripción:Funcion que acceder al array de colores
//  $name: introducimos el valor de la variable
//Retorno: el color de la variable
@function Colores($name) {
  @return map-get($colores, $name);
}

//Descripción:Funcion para convertir un color a RGB decimal
//Parámetros:
//  $color: introducimos el color
//      - una variable (Ej: $Verde)
//      - un color RGB Hexadecimal (Ej: #542e65)
//      - Palabra Clave (Ej: purple) ...
//  $opacity:  introducimos la opaciodad siendo un valor entre 0(trasparente) y 1(opaco)
//Retorno: el color de la variable
@function ColoresRGBA($color, $opacity) {
  @return rgba(red($color), green($color), blue($color), $opacity);
}

///////////////////////////////////////////////////////////////////
// M I X I N
///////////////////////////////////////////////////////////////////
@mixin flex($alignItems, $justifyContent: null) {
  display: flex;
  align-items: $alignItems;

  @if $justifyContent != null {
    justify-content: $justifyContent;
  }
}

@mixin grid($columns, $filas) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($filas, 1fr);
}

@mixin laptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tabletAndMobile {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 319px) and (max-width: 767px) {
    @content;
  }
}

///////////////////////////////////////////////////////////////////
// E S T I L O S
///////////////////////////////////////////////////////////////////

body {
  font-family: "Poppins", sans-serif;
  background-color: Colores(principalClaro);
  color: Colores(principalOscuro);
  //Se dan propiedades al media query para Laptop
  @include laptop {
    overflow: hidden;
  }

  margin: 0;
}

///////////////////////////////////////////////////////////////////
// M E N Ú
///////////////////////////////////////////////////////////////////
.logo {
  @include flex(center);

  //al compilarlo en css se mostrará asi ".logo span"
  span {
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 0.5em;
    @include mobile {
      display: none;
    }
  }

  img {
    width: 4em;
    padding-left: $margen;
  }
}

.contenedorMenu {
  @include laptop {
    position: fixed;
  }
  @include tabletAndMobile {
    position: sticky;
    z-index: 1;
  }

  top: 0;
  width: 100%;
  @include flex(center, space-between);
  border-bottom: 1px solid Colores(secundarioGris);
  background-color: Colores(principalClaro);
}
.menu {
  display: flex;
  .btnmenu {
    padding: 0.6rem;
    margin: 0.4rem;
    i {
      padding-right: 5px;
    }
    &:hover {
      background-color: Colores(secundarioGris);
      color: Colores(principalOscuro);
      border-radius: 5px;
    }
  }
}

.iconos {
  margin-left: $margen;
  a {
    color: inherit;
    text-decoration: none;
  }
  i {
    font-size: 1.5em;
    padding-right: 0.5em;
    &:hover {
      color: Colores(principalColor);
    }
  }
}

label {
  cursor: pointer;
}

///////////////////////////////////////////////////////////////////
//  C U E R P O
///////////////////////////////////////////////////////////////////
main {
  height: 100%;
}

//estilos scroll
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  &-track {
    border-radius: 10px;
    background: ColoresRGBA(Colores(principalOscuro), 0.1);
  }
  &-thumb {
    border-radius: 10px;
    background: ColoresRGBA(Colores(principalOscuro), 0.2);

    &:hover {
      background: Colores(principalColor);
    }
    &:active {
      background: Colores(principalColor);
    }
  }
}
//eliminar el dobleScroll
.ͼ1 .cm-scroller{
  overflow: hidden
}
//cabecera
.encabezadoCuerpo {
  @include flex(center);

  @include laptop {
    margin: 1em;
    margin-top: $alturaHeader; //1em del margin general(para que quede igual) + 5em que son 75px aprox.
  }
  @include tabletAndMobile() {
    margin: 1em;
  }
  select {
    margin-left: 3em;
    padding: 6px;
    border-radius: 5px;
    margin-right: 1em; //Se separa del icono
  }
  #iconoBorrar {
    display: none;
    background-color: transparent;
    color: Colores(principalOscuro);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
  }
}

//paneles
.contenedorPaneles {
  height: 100%;
  justify-items: center;

  @include laptop {
    @include grid(2, 1);
    margin-bottom: $alturaFooter;
  }

  @include tabletAndMobile {
    @include flex(center);
    flex-direction: column;
  }
}

.panelEditor {
  position: relative;
  width: 80%;
  overflow: auto;
  @include laptop {
    height: 400px;
    max-height: 22em;
  }

  @include tabletAndMobile {
    margin-bottom: $margen; //Separa los dos paneles cuando esta en el móvil
    max-height: 30em; //solo muestra las primeras 30 líneas del editor de código
  }
  .box-icon {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    background-color: transparent;
    color: Colores(principalClaro);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    padding-top: 5px;
    &:hover {
      color: Colores(principalColor);
    }
  }
}

///////////////////////////////////////////////////////////////////
// P I E   D E   P Á G I N A
///////////////////////////////////////////////////////////////////
footer {
  @include laptop {
    position: fixed;
  }
  @include tabletAndMobile() {
    position: sticky;
  }
  bottom: 0;
  background-color: Colores(principalClaro);
  border-top: 1px solid Colores(secundarioGris);
  width: 100%;

  #footerTexto {
    color: Colores(principalOscuro);
    text-align: center;
  }
}

///////////////////////////////////////////////////////////////////
// V E N T A N A   M O D A L
///////////////////////////////////////////////////////////////////

.modal {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: Colores(principalOscuro);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
  &--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.6s;
    --transform: translateY(0);
    --transition: transform 0.8s 0.8s;
  }
  .contenedorModal {
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: Colores(principalClaro);
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
    @include tabletAndMobile{
      padding: 2em 1.5em;
    }
  }
}

.tituloModal {
  font-size: 2.5rem;

  @include tabletAndMobile{
    font-size: 2rem;
  }
}



form {
  display: flex;
  flex-direction: column;
  .contenedorCampo {
    margin-bottom: 10px;

    >label {
      display: block;
      font-weight: bold;
    }

    .campo {
      @include flex(center);
      flex-direction: row;
      margin-bottom: 5px;

      .opcion {
        margin-right: 10px;
      }
    }
  }

  textarea {
    width: 100%;
    resize: none; /* Evita la redimensión del textarea */
  }

}
.botones{
  width: 100%;
  @include flex(center, space-evenly);
}

.btnModal {
  text-decoration: none;
  color: Colores(principalOscuro);
  background-color: Colores(principalColor);
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  width: 20%;
  font-weight: 300;
  transition: background-color 0.3s;
  &:hover {
    color: Colores(principalColor);
    background-color: Colores(principalClaro);
  }
  
}
//deshabilita el boton enviar
.enviar.disabled{
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}