// V A R I A B L E S
//Declarar array de variables
$colores :(
    principalOscuro : #0C0C0D,
    principalClaro : #FFF,
    principalColor : #18F276,
    secundarioGris : #d5d8d4
);

//Descripción:Funcion que acceder al array de colores
//  $name: introducimos el valor de la variable 
//Retorno: el color de la variable
@function Colores($name) {
  @return map-get($colores, $name);
}
//Descripción:Funcion para convertir un color a RGB decimal
//Parámetros:
//  $color: introducimos el color
//      - una variable (Ej: $Verde)
//      - un color RGB Hexadecimal (Ej: #542e65)
//      - Palabra Clave (Ej: purple) ...
//  $opacity:  introducimos la opaciodad siendo un valor entre 0(trasparente) y 1(opaco)
//Retorno: el color de la variable
@function ColoresRGBA($color, $opacity) {
  @return rgba(red($color), green($color), blue($color), $opacity);
}

//M I X I N
@mixin flex($align-items, $justify-content: null) {
  display: flex;
  align-items: $align-items;
  
  @if $justify-content != null {
    justify-content: $justify-content;
  }
}

@mixin grid($columns, $filas) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($filas, 1fr);
}
body{
  background-color: Colores(principalClaro);
  color: Colores(principalOscuro);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.contenedor {
  @include grid(2,1);
  justify-items: center;
}
.panelEditor {
  width: 41vw;
  max-height: 70vh;
  overflow: auto;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  &-track {
    border-radius: 10px;
    background: ColoresRGBA(Colores(principalOscuro), 0.1);
  }
  &-thumb {
    border-radius: 10px;
    background: ColoresRGBA(Colores(principalOscuro), 0.2);
    
    &:hover{
      background: Colores(principalColor);
    }
    &:active{
      background: Colores(principalColor);
    }
  }
}
select {
  padding: 6px;
  border-radius: 5px;
  margin: 2em;
}

footer{
  position: absolute;
  bottom: 0;
  left: 42%;
  right: auto;

  .footerTexto {
    color: #d5d8d4;
    text-align: center;
  }
  
  .separador {
    background-color: #d5d8d4;
    height: 2px;
    max-width: 30px;
    margin: 15px auto 20px;
  }
}
