@import "general";

#theme {
    display: none;
}

// M E N Ú
.oscuro {
    background-color: Colores(principalOscuro);
    color: Colores(principalClaro);

    .contenedorMenu{
        background-color: Colores(principalOscuro);
    }

    #footerTexto{
        color: Colores(principalClaro);
    }
}
